body {
  height: 97vh;
  background-color: whitesmoke;
  position: relative;
  display: flex;
  background-image: url("../imgs/field.webp");
  background-position: center;
  font-family: sans-serif;
}
